@model IEnumerable<StudyDocument.Models.Image>

<div class="recent-post">
    <h4>Recent Posts</h4>

    @foreach (var img in Model)
    {
        <a asp-controller="Image" asp-action="Detail" asp-route-id="@img.Id">
            <div class="single-recent-blog">
                <div class="srb-img">
                    <div>
                        @if (!string.IsNullOrEmpty(img.Link))
                        {
                            <img src="@Url.Content(img.Link)" alt="@img.Name Error" title="@img.Name" width="100" />

                        }
                        else if (!string.IsNullOrEmpty(img.Image1))
                        {
                            <img src="@Url.Content("~/uploads/images/" + img.Image1)" alt="@img.Name error" name="@img.Name" width="100" />
                        }
                        else
                        {
                            <span>No image</span>
                        }
                    </div>
                </div>
                <div class="srb-text">
                    <h5>@img.Name</h5>
                    <span>@img.CreateTime.ToString("yyyy-MM-dd")</span>
                </div>
            </div>
        </a>
    }
</div>
